<%# frozen_string_literal: true %>
<!DOCTYPE html>
<html>
<head>
  <title>DummyApp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.3.min', 'arturo' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
