<tr class='feature' id="feature_<%= feature.id %>">
  <td><%= feature.name %></td>
  <td><%= range_tag("feature[#{feature.id}][deployment_percentage]", feature.deployment_percentage, :id => "feature_#{feature.id}_deployment_percentage", :min => '0', :max => '100', :step => '1') %></td>
  <td><%= link_to t('.edit'), edit_feature_path(feature), :rel => 'edit', :class => 'edit' %></td>
</tr>
